.footer {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #1e90ff; /* Zmiana koloru na hover */
  text-decoration: none;
}
