.mood-detail {
  padding: 20px;
  text-align: center;
}

.mood-detail h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.anime-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Ustawia siatkę */
  gap: 20px; /* Odstępy między elementami */
  justify-content: center;
}

.anime-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.anime-card:hover {
  transform: translateY(-5px); /* Efekt unoszenia */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.anime-poster-mood {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.anime-info {
  margin-top: 10px;
}

.anime-info h2 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 8px;
}

.anime-info p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}
